<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.suixingpay.mapper.ButlerSubordinatesMapper">

    <resultMap id="BaseResultMap" type="com.suixingpay.pojo.ButlerSubordinates">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_id" property="userId" jdbcType="INTEGER"/>
        <result column="subordinates_id" property="subordinatesId" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, user_id, subordinates_id, create_time, update_time, is_delete
    </sql>
    
    <select id="selectUserIdBySubId" resultType="java.lang.Integer">
        select
        user_id
        from butler_subordinates
        where 1 = 1
        and subordinates_id=#{id}
    </select>
    <select id="selectLeaderByid" resultType="java.lang.Integer">
        select
        leader_id
        from butler_user
        where  1=1
        and id=#{id}
    </select>
    <select id="selectParentInfoByid" resultType="com.suixingpay.pojo.ButlerSubordinates">
        select
        <include refid="Base_Column_List"></include>
        from butler_user
        where  1=1
        and id=#{id}
    </select>



</mapper>